$first-color: #eeeeee;
$second-color: #00adb5;
$third-color: #393e46;
$fourth-color: #222831;
$fifth-color: #6a2c70;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: #f1f1f1;
  header {
    background-color: $first-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 72px;

    .header-rightside {
      display: flex;
      align-items: center;

      .cart {
        margin: 0 25px;

        i {
          font-size: 32px;
        }

        & button {
          background: none;
          border: none;
          &:hover {
            color: $fourth-color;
            cursor: pointer;
          }
        }
      }
      .language {
        & button {
          background: none;
          border: none;
          &:hover {
            color: $fourth-color;
            cursor: pointer;
          }
        }
        i {
          font-size: 32px;
        }
      }
      .more {
        display: none;
      }
    }

    .search {
      float: right;
      margin: 7px;
      position: relative;

      & input[type="text"] {
        width: 400px;
        height: 35px;
        border-radius: 25px;
        border: none;
        background-color: rgb(255, 255, 255);
        cursor: crosshair;
        &:focus {
          color: $first-color;
          padding-left: 50px;

          &::placeholder {
            color: rgb(255, 255, 255);
            padding: 20px;
          }
        }
        &:focus {
          background: $fourth-color;
        }
      }
      & button {
        background-color: $second-color;
        top: 0;
        right: 0;
        position: absolute;
        color: #f2f2f2;
        float: right;
        padding: 5px 10px;
        margin-right: 16px;
        font-size: 12px;
        border: none;
        cursor: pointer;
        height: 100%;
      }
    }
  }
  .navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $second-color;

    .dropdown {
      display: inline-block;

      .dropbtn {
        background-color: inherit;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        transition: color 0.5 ease-in-out;
        cursor: pointer;
      }
      .dropdown-content {
        display: none;
        left: 0;
        position: absolute;
        background-color: #f1f1f1;
        height: 400px;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        padding: 50px;

        & .mid-text {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          text-align: left;
          & h5 {
            color: $second-color;
            text-decoration: underline;
          }
          & a {
            color: rgb(0, 0, 0);
            text-decoration: none;
          }
        }
      }

      &:focus-within .dropdown-content {
        display: block;
      }
      &:hover .dropbtn {
        background-color: $fourth-color;
      }
    }
  }

  button.active-btn {
    background-color: $fifth-color !important;
    color: rgb(255, 255, 255);
    &:hover {
      background-color: $fourth-color !important;
    }
  }
  @media (max-width: 700px) {
    .cart,
    .language {
      display: none;
    }
    header .header-rightside .more {
      display: block;
    }

    .search form {
      width: 200px;
    }
    .search input {
      width: 200px !important;
    }
    .navbar .dropdown .dropdown-content {
      height: 100vh;
      background: #00adb5;
    }
  }
}
