* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f1f1f1;
}
body header {
  background-color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 72px;
}
body header .header-rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header .header-rightside .cart {
  margin: 0 25px;
}
body header .header-rightside .cart i {
  font-size: 32px;
}
body header .header-rightside .cart button {
  background: none;
  border: none;
}
body header .header-rightside .cart button:hover {
  color: #222831;
  cursor: pointer;
}
body header .header-rightside .language button {
  background: none;
  border: none;
}
body header .header-rightside .language button:hover {
  color: #222831;
  cursor: pointer;
}
body header .header-rightside .language i {
  font-size: 32px;
}
body header .search {
  float: right;
  margin: 7px;
  position: relative;
}
body header .search input[type=text] {
  width: 400px;
  height: 35px;
  border-radius: 25px;
  border: none;
  background-color: rgb(255, 255, 255);
  cursor: crosshair;
}
body header .search input[type=text]:focus {
  color: #eeeeee;
  padding-left: 50px;
}
body header .search input[type=text]:focus::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
  padding: 20px;
}
body header .search input[type=text]:focus::-moz-placeholder {
  color: rgb(255, 255, 255);
  padding: 20px;
}
body header .search input[type=text]:focus:-ms-input-placeholder {
  color: rgb(255, 255, 255);
  padding: 20px;
}
body header .search input[type=text]:focus::-ms-input-placeholder {
  color: rgb(255, 255, 255);
  padding: 20px;
}
body header .search input[type=text]:focus::placeholder {
  color: rgb(255, 255, 255);
  padding: 20px;
}
body header .search input[type=text]:focus {
  background: #222831;
}
body header .search button {
  background-color: #00adb5;
  top: 0;
  right: 0;
  position: absolute;
  color: #f2f2f2;
  float: right;
  padding: 5px 10px;
  margin-right: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  height: 100%;
}
body .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00adb5;
}
body .navbar .dropdown {
  display: inline-block;
}
body .navbar .dropdown .dropbtn {
  background-color: inherit;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  -webkit-transition: color 0.5 ease-in-out;
  transition: color 0.5 ease-in-out;
  cursor: pointer;
}
body .navbar .dropdown .dropdown-content {
  display: none;
  left: 0;
  position: absolute;
  background-color: #f1f1f1;
  height: 400px;
  width: 100%;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 50px;
}
body .navbar .dropdown .dropdown-content .mid-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}
body .navbar .dropdown .dropdown-content .mid-text h5 {
  color: #00adb5;
  text-decoration: underline;
}
body .navbar .dropdown .dropdown-content .mid-text a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
body .navbar .dropdown:focus-within .dropdown-content {
  display: block;
}
body .navbar .dropdown:hover .dropbtn {
  background-color: #222831;
}
body .active-btn {
  background-color: #6a2c70 !important;
  color: rgb(255, 255, 255) !important;
}
body .active-btn:hover {
  background-color: #222831 !important;
}
@media (max-width: 700px) {
  body .dropdown-content {
    height: 100vh !important;
    background: #00adb5 !important;
  }
}
/*# sourceMappingURL=main.css.map */